# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/
*.code-workspace

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# Virtual environment
.venv/
venv/

# Trained models
/models/

# Data files
/data/
*.csv
*.tsv
*.parquet
*.h5

# R-specific
# R session data
.RData
.Rhistory
.Rapp.history
.Rproj.user/

# R Markdown and knitr cache
*_cache/
*.Rproj

# Compiled code
*.o
*.so
*.dll

# Logs and reports
*.log

# Output of knitr and R markdown
*.utf8.md
*.knit.md

# Shiny applications
.Rproj.user/

# renv environment
/renv/
*.lock
renv/library/
renv/staging/

# Temporary files
*.tmp
*.swp

# # Exclude generated plots and images
# *.png
# *.jpeg
# *.jpg
# *.pdf

.Rprofile
